<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		                    http://www.springframework.org/schema/context 
		                    http://www.springframework.org/schema/context/spring-context-3.0.xsd
		                    http://www.springframework.org/schema/tx 
		                    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		                    http://www.springframework.org/schema/aop 
		                    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"> 
	<bean id="employeeDao" class="cn.itcast.ssh.dao.impl.EmployeeDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="leaveBillDao" class="cn.itcast.ssh.dao.impl.LeaveBillDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_ge_bytearrayDao" class="cn.itcast.ssh.dao.impl.Act_ge_bytearrayDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_ge_propertyDao" class="cn.itcast.ssh.dao.impl.Act_ge_propertyDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_hi_actinstDao" class="cn.itcast.ssh.dao.impl.Act_hi_actinstDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="act_hi_attachmentDao" class="cn.itcast.ssh.dao.impl.Act_hi_attachmentDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_hi_commentDao" class="cn.itcast.ssh.dao.impl.Act_hi_commentDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_hi_detailDao" class="cn.itcast.ssh.dao.impl.Act_hi_detailDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_hi_identitylinkDao" class="cn.itcast.ssh.dao.impl.Act_hi_identitylinkDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_hi_procinstDao" class="cn.itcast.ssh.dao.impl.Act_hi_procinstDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_hi_taskinstDao" class="cn.itcast.ssh.dao.impl.Act_hi_taskinstDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_hi_varinstDao" class="cn.itcast.ssh.dao.impl.Act_hi_varinstDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_id_groupDao" class="cn.itcast.ssh.dao.impl.Act_id_groupDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_id_infoDao" class="cn.itcast.ssh.dao.impl.Act_id_infoDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_id_membershipDao" class="cn.itcast.ssh.dao.impl.Act_id_membershipDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_id_userDao" class="cn.itcast.ssh.dao.impl.Act_id_userDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_re_deploymentDao" class="cn.itcast.ssh.dao.impl.Act_re_deploymentDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_re_modelDao" class="cn.itcast.ssh.dao.impl.Act_re_modelDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_re_procdefDao" class="cn.itcast.ssh.dao.impl.Act_re_procdefDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_ru_event_subscrDao" class="cn.itcast.ssh.dao.impl.Act_ru_event_subscrDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_ru_executionDao" class="cn.itcast.ssh.dao.impl.Act_ru_executionDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_ru_identitylinkDao" class="cn.itcast.ssh.dao.impl.Act_ru_identitylinkDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_ru_jobDao" class="cn.itcast.ssh.dao.impl.Act_ru_jobDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_ru_taskDao" class="cn.itcast.ssh.dao.impl.Act_ru_taskDaoImpl" parent="baseDao">
	</bean>
	<bean id="act_ru_variableDao" class="cn.itcast.ssh.dao.impl.Act_ru_variableDaoImpl" parent="baseDao">
	</bean>

</beans>